<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
">

    <!-- 引入属性文件-单个 -->
   <!-- <context:property-placeholder location="classpath:jdbc.properties" />-->
    <!-- 引入系统属性文件-多个 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/dev.properties</value>
                <value>classpath:properties/jdbc.properties</value>
            </list>
        </property>
    </bean>
    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="cn.ph.service" />
    <context:component-scan base-package="cn.ph.utils" />
<!--    <context:component-scan base-package="cn.itsource.task" />-->


</beans>